In [2]:
val1 = input("Enter first value: ")
val2 = input("Eter second value: ")
operator = input("Enter operator: ")
val1 = int(val1)
val2 = int(val2)

if operator == "+":
    val = val1 + val2
    print(val,"answer")
elif operator == "-" :
    val = val1 - val2
    print(val, "answer")
elif operator == "*":
    val = val1 * val2
    print(val, "answer")
elif operator == "/":
    val = val1 / val2
    print(val, "answer")
elif operator == "**":
    val = val1 ** val2
    print(val, "answer")

Enter first value: 2
Eter second value: 2
Enter operator: **
4 answer

In [3]:
test_list = ['Rs. 24', 'Rs. 18', 'Rs. 8', 'Rs. 21'] 
print("The original list : " + str(test_list)) 
res = [int(sub.split('.')[1]) for sub in test_list] 
print("The list after Extracting numbers : " + str(res))

The original list : ['Rs. 24', 'Rs. 18', 'Rs. 8', 'Rs. 21']
The list after Extracting numbers : [24, 18, 8, 21]

In [4]:
customer = {"first name": "Muhammad Noman", "last name": "Awan", "address": "401 st."}
print(customer)
customer ["Citi"] = "Attock"
print(customer)

{'first name': 'Muhammad Noman', 'last name': 'Awan', 'address': '401 st.'}
{'first name': 'Muhammad Noman', 'last name': 'Awan', 'address': '401 st.', 'Citi': 'Attock'}

In [5]:
d = {'key1': 1,'key2': 14,'key3': 47}
sum(d.values())

62

In [7]:
list_a=[1,2,3,5,6,7,5,2]

tmp=[]

for i in list_a:
    if tmp.__contains__(i):
        print(i)
    else:
        tmp.append(i)

5
2

In [8]:
pets = {'cats': 1, 'dogs': 2, 'fish': 3}
if 'dogs' in pets:
    print('Dogs found!')

Dogs found!